<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="catalog_product_save_before">
        <observer name="add_photos_to_product" instance="Magenest\InstagramShop\Observer\AddPhotosToProduct"/>
    </event>
    <event name="instagram_controller_connect_before">
        <observer name="flush_config_cache_before_connect" instance="Magenest\InstagramShop\Observer\Controller\BeforeConnect" />
    </event>
    <event name="instagram_controller_connect_successful">
        <observer name="flush_config_cache_after_connect" instance="Magenest\InstagramShop\Observer\Controller\AfterConnect" />
    </event>
</config>
