<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="magenest" translate="label" sortOrder="200">
            <label>Magenest</label>
        </tab>
        <section id="magenest_instagram_shop" translate="label" type="button" sortOrder="90" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Instagram Shop</label>
            <tab>magenest</tab>
            <resource>Magenest_InstagramShop::config_instagramshop</resource>
            <group id="facebook" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                <fieldset_css>instagram-shop-connection</fieldset_css>
                <label>Instagram</label>
                <field id="access_token" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Permanent Page Access Token</label>
                    <frontend_model>Magenest\InstagramShop\Block\Adminhtml\System\Config\Form\ReadonlyField</frontend_model>
                </field>
                <field id="auth_button" translate="label" sortOrder="30" showInDefault="1" showInWebsite="0" showInStore="0" type="button">
                    <frontend_model>Magenest\InstagramShop\Block\Adminhtml\System\Config\Form\AuthButton</frontend_model>
                    <comment>
                        <![CDATA[ You will now be redirected to Facebook to connect your Instagram to our integration app. Please only chose one page... ]]>
                    </comment>
                </field>
            </group>
            <group id="instagram_getphoto" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Get Photos on your Instagram Account</label>
                <field id="getphoto_button" translate="label" sortOrder="20" showInDefault="1" showInWebsite="0" showInStore="0">
                    <frontend_model>Magenest\InstagramShop\Block\Adminhtml\System\Config\Form\GetPhotoButton</frontend_model>
                </field>
            </group>
            <group id="general" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General</label>
                <field id="add_link_to_frontend" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Add Link to Gallery in Frontend Main Menu</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <config_path>magenest_instagram_shop/general/add_link_to_frontend</config_path>
                </field>
                <field id="add_to_product_detail" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Add Instagram Photos to Product View</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <config_path>magenest_instagram_shop/general/add_photos_to_product_view</config_path>
                </field>
                <field id="button_title" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Button Title</label>
                </field>
                <field id="button_css" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Button CSS</label>
                </field>
                <field id="hover_text" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Hover Text</label>
                </field>
                <field id="hash_tag" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Hash Tag</label>
                    <depends>
                        <field id="add_to_product_detail">1</field>
                    </depends>
                </field>
                <field id="block_title" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Block Title</label>
                    <depends>
                        <field id="add_to_product_detail">1</field>
                    </depends>
                </field>
                <field id="block_content" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Block Content</label>
                    <depends>
                        <field id="add_to_product_detail">1</field>
                    </depends>
                </field>
            </group>
            <group id="instagram_tags" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Instagram Tags</label>
                <field id="tags" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Tags</label>
                    <comment><![CDATA[Tags should be separated by commas. <br />E.g "fallcollection, justdoit, fashion" for "#fallcollection, #justdoit, #fashion
                    <br/>Remember to Save Config before get tagged photos]]></comment>
                </field>
                <field id="update_button" translate="label" sortOrder="20" showInDefault="1" showInWebsite="0" showInStore="0">
                    <frontend_model>Magenest\InstagramShop\Block\Adminhtml\System\Config\Form\UpdateButton</frontend_model>
                </field>
            </group>
        </section>
    </system>
</config>
