<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    
    <preference for="Magento\Customer\Controller\Account\LoginPost" type="PurpleCommerce\Wholesale\Controller\Account\LoginPost"/>
<!--    <preference for="Magento\Customer\Controller\Account\CreatePost" type="PurpleCommerce\Wholesale\Controller\Account\CreatePost"/>-->
<preference for="Magento\Customer\Model\EmailNotification" type="PurpleCommerce\Wholesale\Model\EmailNotification" />
<preference for="Magento\Captcha\Observer\CheckUserCreateObserver" type="PurpleCommerce\Wholesale\Observer\CheckCaptchaFormObserver" />
</config>